 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #f4f6f8;
  color: #1f2937;
}

header {
  background: #020617;
  position: sticky;
  top: 0;
  z-index: 10;
}

.navbar {
  max-width: 1100px;
  margin: auto;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #38bdf8;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin-left: 20px;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.nav-link.active {
  color: #38bdf8;
  font-weight: 600;
}

/* HERO */
.hero {
  height: 50vh;
  background: linear-gradient(to right, #030718, #0f172a);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
   
}

.hero span {
  color: #38bdf8;
}

/* SECTIONS */
.section {
  max-width: 900px;
  margin: auto;
  padding: 60px 20px;
}

.section h2 {
  text-align: center;
  margin-bottom: 20px;
}

/* SKILLS */
.skill-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 15px;
}

.skill {
  background: white;
  padding: 15px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  transition: transform 0.3s;
}

.skill:hover {
  transform: translateY(-6px);
}

/* CARDS */
.card {
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

/* CONTACT */
form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

form input, form textarea {
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

form button {
  background: #38bdf8;
  border: none;
  padding: 12px;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
}

#form-msg {
  margin-top: 8px;
  font-size: 14px;
}

/* REVEAL */
.section, .skill, .card {
  opacity: 0;
  transform: translateY(30px);
  transition: 0.6s;
}

.show {
  opacity: 1;
  transform: translateY(0);
}

footer {
  background: #020617;
  color: white;
  text-align: center;
  padding: 15px;
}
h1{color: #5549c6;

}